body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'Poppins',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* css code for the body */
body{
  background:#FFFCFD;
}

/* p tags */
p{
  font-family: 'Poppins', sans-serif;
}

h1,h2,h3,h4,h5,h6{
  font-family: 'Poppins', sans-serif;
}

ul{list-style-type: none;
  font-family: 'Poppins', sans-serif;

}

button{ 
  font-family: 'Poppins', sans-serif;
}

li{
  padding-top: 20px;
  font-family: 'Poppins', sans-serif;
}

hr{
  width: 30%;
}

/* categories with hr */
.featureCategories{
  display: flex;
  gap:2%;
  margin-left:10%;
}

.nav-item-three > img{
  width:30%
}

.navLogo{
  width: 70%;
} */


/* home page */
.Section-1-h1{
font-family: 'Poppins', sans-serif;
font-weight: 500;
font-size: 32px;
padding-top: 20px;
color:black;
}




.shop{
  height: 64px;
    width: 222px;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 700px;
}

.Cardimg1{
  width: 100%;
}

.star-img{
width:60%;
margin-left: 40px;
}

.my-bestsellers-image{
  border-radius: 30px;
}

.my-featured-container{
  justify-content: center;

}

.f-image{
  padding-top: 5vh;
  width: 80%;
}


.my-section{
  padding-top:10%;
}

/* my featured category margin */


.feature-container{
  padding-top: 10%;
  width: 70%;
  
}

/* footer-section */

#footerhr{
  width: 100%;
}

#footerImg{
  padding-bottom: 8vh;
}
.footer-section{
  display: flex;
  justify-content: space-between;
  padding:5% 0 0 0;

}


.footer-container{
  background: #F3FBFE;
  padding: 5%;
  width:100%;

}

input{
  border-radius: 10px;
  width: 80%;
  height: 20%;
}

.copyright-section{
  background: #F3FBFE;
}

.my-h4{
  padding-top: 10px;
}

.bst-h6{
  padding-top:5px;
}

.beautiful-summer{
  position: absolute;
  
}

/* header section */

.centered {
  position: absolute;
  z-index: 0;
  margin: -40% 0 10% -4%;
  width: 50%;
  color: white;
  text-align: left;
}

.centeredOne{
  position: absolute;
  z-index: 0;
  margin: -40% 0 10% -4%;
  width: 50%;
  color: black;
  text-align: left;
}

.centeredOne > h1{
  font-size: 4vw;
  font-weight: 600;
  line-height: 1.3em;
}

.centered > h1 {
  font-size: 4vw;
  font-weight: 600;
  line-height: 1.3em;
}

.whatsapp{
    position: fixed;
    bottom: 8px;
    right: 16px;
}

button{
  border-radius:60px;
  background-color:#26ABEA;
  color: white;
  margin-right: 30px;
  /* padding:5px 20px 5px 20px; */
  border-style: none;
  height:4vh;
  font-family: 'Poppins', sans-serif;
}

input{
  border-radius:30px;
  border-color:#26ABEA;
  width:50%;
  
}


/* girls clothes css */


.Girls-clothes{
  padding: 50px 0px 20px 0px;
  width:70%;
}

.top-img{
margin-top: 11vh;
}

.Girls-clothes-img{
  border-radius: 30px;
}

/* my boys clothes section */

.Boy-clothes{
  padding: 50px 0px 20px 0px
}

.Boy-clothes-img{
  border-radius: 30px;
}
.top-img{width:100%
}

/* my boys clothes section */

.Boy-clothes{
  padding: 50px 0px 20px 0px;
  width:70%;
}


/* toys page */

.Toys{ background: #FFFCFD;
  padding: 50px 0px 20px 0px;
  width:70%;
}

.toys-img{
  border-radius: 30px;
}


/* product-section */

/* cart button */

.Addcart{
  padding-top: 3%;
}

.btn-group{
  margin-left: -40%;
}

/* togglebutton */
.sizeButton{
  background: transparent;
  color:black;
  border-style: solid;
  width:100%;
  border-radius:10px;
  margin-top:4vh;
}

.titlestarPrice{
  margin-left:-30vw;
}

/* cart image */

.cartimgbox{
  background: #FFFCFD;

  padding:3%;
}
.cartimg{
  
  width:360px;
  
  margin:130px 0 50px 0;
  border-radius:50px;
}

/* product id */
.productid{
  margin-left: -18vw;
}

/* sharebtn */
.sharebtn{display: flex;
  padding: 2vw 0 0 8vw;
  gap:50px;
  align-items: left;
  margin-left: -13%;
  justify-content: space-between;
  padding-right: 5%;
}

/* productname */
.productNAme > h5{
  margin-left: -15vw;
  margin-top:50px;
}

/* product image */



.shareIcons{
  display: flex;
  gap: 10px;
}

.sizeButton2{
  width: 100%;
  height: 7vh;
  border-style: none;
  margin-bottom: 10px;
  font-size: 20px;


}

.priceStars{
  margin-left: -15vw;
  width:7vw
}

/* product description */
.productd{
  margin:5vh 0 0 23%;
  width: 70%;
  text-align:left;
}

/* add and sub menu */

.addSub{
  
  border-radius: 100%;
  background:#26ABEA;
  padding: 10px;
  width: 70px;
  height: 70px;
  font-weight: bold;
  font-size: 30px;
}

.addMinus{
  border-radius: 100%;
  background:pink;
  padding: 10px;
  width: 70px;
  height: 70px;
  font-weight: bold;
  font-size: 30px;
}


.mommycare{
  display: flex;
  justify-content: space-between;
  padding: 4vh 17vw 4vh 17vw;
}

.mommycare > h5{
  width: 30vw;
  text-align: justify;
  font-family: pooins, sans-serif;
}

.checkout{
  width: 501px;
  height: 63px;
  font-size: 30px;

  font-family: 'Poppins', sans-serif;
}

.checkbtn{
  padding: 3vh 0 8vh 50vw;
  
}

.remove{
  color:rgb(247, 102, 126);
  margin-left:33%;
  padding-top: -40vh;
  background:transparent;
  font-family: 'poopins', sans-serif;
  font-size: 30px;
}


/* cart page */
.carthr{
  width: 66%;
  margin-left: 17vw;
  color: #26ABEA;
}

.productqyt{
  margin-top: 7vh;
  display: flex;
  justify-content: space-around;
}

.QUT{
  display: flex;
  gap:10vw;
}

/* product quantity */
.productsq{
  display: flex;
  justify-content: space-around;
}

.cartimg{
  display:flex;
  gap:10px
  /* margin-left: 8vw; */
}


.myCart{
  padding-top: 5vh;
}

.size{
  padding-top: 4vh;
  margin-right: 2%;
}

.btnprice{
  display: flex;
  gap: 8vw;
  padding:7% 3% 0 0
}

.price{
  padding: 2vh 0 0 0;
  margin-right: -20px;
}

.crtbtn{
  display: flex;
  margin-left:-20%;

}
/* 
checkout page */

.myForm{
      padding: 3vw;
}

.email{
  margin: 3vw;
}
.email > input {
  width: 100%;
  height: 5vh;
  border-radius: 10px;
  border-color: black;
}


.Fname > input{
  border-color: black;
  width: 40%;
  height: 5vh;
  border-radius: 10px;
}

.Fname{
  
  display: flex;
    grid-gap: 2vw;
    gap: 5vw;
    margin: 0 0 7vh 8%;
  
}


.completeorder{
  display: flex;
  justify-content: space-between;
  margin: 0 1% 0 1%;
  font-family: poopins sans-serif;
}

.completeorder > button  {
width:10vw
}

.completeorder > h3 {
  color: #26ABEA;
  font-family: poopins sans-serif;
}


/* checkout page2 */

.checkoutpagemain{
     background: #ececec;
    margin-top: 9vh;
}

.formPage{
   margin-top: 9vh;
}

.myForm{
  border-style: none;
}

.checkoutpage{
  background: transparent;
  border-style: none;
}

.checkoutpage2{
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
  border-style: none;
  gap: 8%;
}

.checkoutItem{
  display: flex;
  gap:4vw
}

.checkoutprice{
  padding:10vh 8vw 0 0;
}

.itemName{
  padding-top: 10vh;
}


#cartitem{
  background: transparent;
  z-index: 1;
}

.cartitem{
  border-radius:100%;
  width:0.5%;
  position: absolute;
  left: 3%;
  top: 6%;
  z-index: 1;
  background-color: lightslategrey;
  }

  .checkoutpage > hr {
    width: 38vw;
    margin-left: 2vw;
  }

.checkoutdiscount{
  margin:5vh 0 5vh 0;
  display:flex;
  justify-content: space-between;
  padding: 0 5vw 0 2vw;
  gap:10%

}

  .checkoutdiscount > input {
    width: 50%;
    height: 5vh;
    border-radius: 10px;
    background: transparent;
    border-style:solid;
       
  }

  .checkoutdiscount > button{
    border-radius:10px;
    height: 5vh;
    width: 40%;
    background: darkgray;
    color: black;
    font-family: poopins sans-serif;
  }

  .subTotal{
    display: flex;
    justify-content: space-between;
    padding: 0 7vw 0 2vw;
    margin:5vh 0 5vh 0;
  }

  /* successpage */

  .SuccessPage{
    background:#F3FBFE;
    padding:3vh 0 3vh 0;
    width: 90vw;
    margin-top: 15vh;
    margin-bottom:4vh;
    }

  .SuccessPage > h6 {
    padding: 2vh 0 2vh 0;
  }

  .SuccessPage > h1 {
padding:3vh 0 3vh 0;
font-family: 'Poppins', sans-serif;
  }

.SuccessPage > button{
  padding:3vh 0 3vh 0;
}

.sbtn{
  margin:3vh 0 3vh 0;
  height: 50px;
}

.sbtn1{
  height: 50px;
  margin-left: 1.5vw;
  color: black;
  background: transparent;
  border-color:#26ABEA ;
  border-style: solid;
  font-family: 'Poppins', sans-serif;
}
.SuccessPage > hr{
margin-left:35%;
color: #26ABEA;
}

.product_details {
  min-height: 50vh;
}
.productimg {
  width: 170px;
  height: 170px;
  object-fit: cover;
}